@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.clock_container{
    /* color: #fff; */
    /* background-color: #fff; */
    margin: 5% 20% 0 20%;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10vh;
    font-weight: 500;
}

.rectangle{
    background-color: transparent;
    /* padding: 3%; */
}

.colon{
    color: grey;
    /* padding: 3%; */
    font-size: 400;
}