@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.clock_container{
    /* color: #fff; */
    /* background-color: #fff; */
    margin: 5% 20% 0 20%;
    font-family: "Poppins", sans-serif;
    color: white;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13vh;
    font-weight: 700;
}

.rectangle{
    background-color: transparent;
    /* padding: 3%; */
}

.colon{
    color: #eee8cd;
    /* padding: 3%; */
    font-weight: 600;
    font-size: 9vh;
}

.day{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 125%;
    color: #0018a8;
}

.date{
    margin: 0 0.25% 0 0.5% ;
}

.month{
    margin: 0 0.5% 0 0.25%;
}